.caja-principal{
    margin: 0;
    width: 90% !important;
}

.matriz, th {
    border: 1px solid black;
    /* width: -webkit-fill-available;
    height: -webkit-fill-available; */
    /* max-height: 718;
    max-width: 882; */
    margin: auto;
 }

 .celda-matriz {
    padding: 0;
    min-height: 85px;
    min-width: 100px;
    /* max-width: 150px;
    max-height: 85px; */
    background: green;
    border: 1px solid #fefefe;
    border-radius: 0;
    text-align: center;
    font-size: 40;    
    cursor: pointer;
 }

 .celda-matriz:hover, .hover{
    opacity: .65;
    z-index: 10;
}

.celda-matriz:focus{
    border:2px solid #000000;
    background: black !important;
}

 .Inicio {
     background: blue;
 }
 
 .Final {
     background: red;
 }
 .node-data{
     width: 100%;
     height: 25%;
     display: table;
 }

 .barra-informacion{
     background: black;
     width: 100%;
     height: 100px;
     position: unset;
 }
 
 .celda-informacion, .texto-infobar{
     color:#fefefe;
 }
 .celda-informacion:hover{
     opacity: .3;
     background: rgb(202, 202, 202);
     cursor: pointer;
 }

 .btn-controlador{
    border-radius: 50% !important;
    margin: 0 5px;
    color: #fefefe;
    background: #0e0e0e;
    position: sticky;
    z-index: 4;
    border-style: none;
 }
.btn-inicio{
    float: left;
}

 .btn-final{
    float: right;
 }